<div class="container-fluid">
  <div class="panel panel-default" style="margin-top: 1.5%;">
    <div class="panel-body">
      <h1>Referral User</h1>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
      <table class="table table-striped" style="table-layout: fixed; width: 100%" >
        <thead>
        <tr>
          <th>Index</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Referred By</th>
        </tr>
        </thead>

        <tbody>
        <% @user&.each_with_index do |user, index| %>
          <tr>
            <td style="text-align:left !important;"><%= index + 1 %></td>
            <td><%= user&.first_name %></td>
            <td><%=user&.last_name %></td>
            <td><%=user&.email %></td>
            <td><%=user&.referred_by_id %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>